* {
  font-family: 'PT Mono', monospace;
  /* background-color: #D3D3D3; */
  color: white;
}

a {
  text-decoration: none;
}

h1, div {
  background-color: transparent;
}

body {
   background: url("/images/portfolio_back_dark.png");
   background-color: #cccccc;
   /* background-size: 1024px 768px; */
   background-position: center;
}

nav {
  display: block;
  background-color: #D3D3D3;
  font-family: 'PT Mono', monospace;
  width: 100%;
  color: black;
}

.portfolio_logo {
  width: 800px;
  height: 205px;
  padding-top: 10px;
}

.siema-slides {
}

.siema {
  margin: auto;
}

.prev {
  font-family: 'PT Mono', monospace;
  float: left;
}

.next {
  font-family: 'PT Mono', monospace;
  float: right;
}

/* Larger than mobile */
@media only screen and (min-width: 400px) {
  .portfolio_logo { width: 400px; height: 102px; }
}

/* Larger than phablet */
@media only screen and (min-width: 550px) {
  .portfolio_logo { width: 550px; height: 141px; }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
  .portfolio_logo { width: 750px; height: 192px; }

}
