* {
  font-family: 'PT Mono', monospace;
  background-color: #D3D3D3;
}

a {
  text-decoration: none;
}

nav {
  display: block;
  background-color: #D3D3D3;
  font-family: 'PT Mono', monospace;
  width: 100%;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  height: 200px;
  width: 200px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-top: 20px;
  z-index: -1;
  color: white;
  background-size: 200px 200px;
  font-size: 12px;
}


.box1 {
  background-image: url("/images/skeleton_castle.png");
}

.box2 {
  background-image: url("/images/trippin.png");
}

.box3 {
  background-image: url("/images/PH200.jpeg");
}

.box4 {
  background-image: url("/images/PH200.jpeg");
}

.box5 {
  background-image: url("/images/PH200.jpeg");
}

.box6 {
  background-image: url("/images/PH200.jpeg");
}

.portfolio_logo {
  width: 800px;
  height: 205px;
}

p.hidden-desc  {
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
}

div.box1:hover, div.box2:hover, p.hidden-desc:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}


/* Larger than mobile */
@media (min-width: 400px) {
  .portfolio_logo { width: 400px; height: 102px; }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .portfolio_logo { width: 550px; height: 141px; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .portfolio_logo { width: 750px; height: 192px; }
}
