* {
  font-family: 'PT Mono', monospace;
  color: white;
}

a {
  text-decoration: none;
}

h1, div {
  background-color: transparent;
}

body {
   background: url("/images/portfolio_back_dark.png");
   background-position: center;
}

nav {
  display: block;
  background-color: #D3D3D3;
  font-family: 'PT Mono', monospace;
  width: 100%;
  color: black;
}

.portfolio_logo {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

.siema-slides {
  padding: 5px;
}

.prev {
  font-family: 'PT Mono', monospace;
  float: left;
}

.next {
  font-family: 'PT Mono', monospace;
  float: right;
}

.ssc, .trippin, .hangman, .bloggotron {
  float: right;
}

/* Larger than mobile */
@media only screen and (min-width: 400px) {
  .portfolio_logo { width: 400px; height: 102px; }
}

/* Larger than phablet */
@media only screen and (min-width: 550px) {
  .portfolio_logo { width: 550px; height: 141px; }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
  .portfolio_logo { width: 750px; height: 192px; }

}

@media only screen and (min-width: 1025px) {
  .portfolio_logo { width: 960px; height: 244px; }

}
