body {
  background-color: black;
  margin: 0;
	padding: 0;
	border: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #666666;
}

nav {
  display: block;
  background-color: #D3D3D3;
  font-family: 'PT Mono', monospace;
  width: 100%;
  color: white;
  margin: 0;
	padding: 0;
	border: 0;
}

#drone-title {
  grid-column: 2/3;
  grid-row: 1;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

#drone-title-void {
  grid-column: 2/3;
  grid-row: 1;
  text-align: center;
  font-size: 42px;
}

#osc-title {
  text-align: left;
}

#vol-title {
  text-align: right;
}

#pwm-title {
  text-align: center;
}

#drone-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Share Tech Mono', monospace;
  font-size: 11px;
  width: 400px;
  height: 600px;
  background-color: #0D4F8B;
  background-image: url("../images/bg.png");
  color: #4F94CD;
  margin: 0 auto;
  padding: 5px;
}

#sine-osc-container, #triangle-osc-container,
#sawtooth-osc-container, #pulse-osc-container {
  grid-column: 1/3;
  padding: 2px;
}

#pwm-container {
  grid-column: 2/3;
  grid-row: 4;
  margin: 0 auto;
  text-align: center;
  padding-left: 2px;
}

#sine-vol-container, #triangle-vol-container,
#sawtooth-vol-container, #pulse-vol-container {
  grid-column: 3/3;
  text-align: right;
}

#sine-osc-container, #sine-vol-container {
  grid-row: 1;
  padding: 10px;
}

#triangle-osc-container, #triangle-vol-container {
  grid-row: 2;
  padding: 10px;
}

#sawtooth-osc-container, #sawtooth-vol-container {
  grid-row: 3;
  padding: 10px;
}

#pulse-osc-container, #pulse-vol-container {
  grid-row: 4;
  padding: 10px;
}

#sine-light-container {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  margin: 0 auto;
  padding-right: 16px;
}

#triangle-light-container {
  position: relative;
  grid-row: 2;
  grid-column: 2;
  margin: 0 auto;
  padding-right: 16px;
}

#sawtooth-light-container {
  position: relative;
  grid-row: 3;
  grid-column: 2;
  margin: 0 auto;
  padding-right: 16px;
}

#pulse-light-container {
  position: relative;
  grid-row: 4;
  grid-column: 2;
  margin: 0 auto;
  padding-right: 16px;
}

#sine-light, #triangle-light, #sawtooth-light, #pulse-light {
  height: 16px;
  width: 16px;
  border: 2px dotted gray;
  grid-column: 2/3;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  background-color: black;
}

#sine-light {
  grid-row: 1;
  background-color: black;
}

#triangle-light {
  grid-row: 2;
  background-color: black;
}

#sawtooth-light {
  grid-row: 3;
  background-color: black;
}

#pulse-light {
  grid-row: 4;
  background-color: black;
}



#sine-osc-value, #triangle-osc-value,
#sawtooth-osc-value, #pulse-osc-value,
#sine-vol-value, #triangle-vol-value,
#sawtooth-vol-value, #pulse-vol-value {
  height: 15px;
  width: 15px;
  border: 1px solid #4F94CD;
  background-color: #FFFFE0;
  display: inline-block;
  text-align: center;
  color: black;

}

#sine-vol-value, #triangle-vol-value,
#sawtooth-vol-value, #pulse-vol-value {
  color: black;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
}

#sine-osc-value, #triangle-osc-value,
#sawtooth-osc-value, #pulse-osc-value {
  color: black;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
}

p {
  color: white;
  font-family: 'PT Mono', monospace;
  font-size: 10px;
  text-align: center;
}
