* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: #222222;
  width: 100vw;
  text-align: center;
}

header {
  background-color: #222222;
  width: 100vw;
  height: 80px;
  padding-top: 20px;
}

.reach-mobi-logo {
  background-color: #222222;
  height: 32px;
  text-align: center;
  display: block;
  margin: 0 auto;

}

.reach-mobi-ad {
  display: block;
  margin: 0 auto;

}

.nav-btns-container {
  border: 1px solid #666666;
  background-color: #222222;
  width: 100vw;
  padding-top: 2px;
  border-left: none;
  border-right: none;
  border-bottom: 2px;
}

.nav-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: -3px -3px 0px -3px;
  color: #666666;
  background-color: #222222;
  border-color: #666666;
  border-bottom: 3px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-btn:hover {
  color: #FFFFFF;
  border-bottom: -3px solid #912D61;
}

.text-container {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.ctb {
  width: 70%;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #912D61;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  border-bottom: 5px;
  transition: 0.5s;
  text-decoration: none;
}

.ctb:hover {
  background-color: #42142c;
}
